@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background :#0B1120;
}

.container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid white;
  padding: 1rem;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.todoForm{
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.todoForm input{
  width: 80%;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

button{
  font-size: 0.7rem;
  border: none;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: white;
}
.allTodos{
  list-style: none;
  margin:2px 0;
  padding: 0;
}
.singleTodo{
  display: flex;
  border-radius: 2rem;
  background: #0092fa;
  padding: 0.4rem 0.5rem;
  margin: 0.5rem 0;
  width: 250px;
  align-items: center;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.todoText{
  flex:1;
  font-size: 1rem;
}